@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<colectare_deseuri.Models.Date>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Colectări de Deșeuri</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Pubela</th>
                <th>Data Colectării</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.IdPubela</td>
                    <td>@item.CollectionTime.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
